// ## Bring in all Compass Helpers
@import "base";

// ## Project Styles
@import "mixins";

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}
i 		{  	font-style: normal; }

body {
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow: hidden;
}

.page-hp {
	background: #000 image-url('bucaboot-tight-bw.jpg') no-repeat 50% 50% fixed;
	@include background-size(cover);
	background-attachment: fixed;
}

.hp-content {
	margin: auto;
	padding: 30px;
	color: #fff;
	@include rgba-bg(black, .5);
	max-width: 650px;
	@include trans;
	@media (min-width: $break-sm) {
		padding-top: 60px;
	}	
}

.hp-content-inner {
	margin: auto;
	max-width: 450px;
}

.logo-h {
	font: 700 em(50) $sans;
	max-width: 70%;
	margin: auto;
	@include user-select;
	@media (min-width: $break-sm) {
		max-width: 400px;
		&.horiz {
			max-width: none;
		}
	}
}

.no-svg {
	.logo-h {
		display: block;
		height: 0;
		padding-top: 45%;
		background: transparent image-url('icons/logo-wht-lg.png') 50% 50% no-repeat;
		@include background-size(100%);
		@media (min-width: $break-sm) {
			padding-top: 64%;
		}
		@media (min-width: 520px) {
			padding-top: 56.5%;
		}
	}
	.logo-img-svg {
		display: none;
	}
}

.logo-img {
	display: block;
	max-width: 100%;	
}


.intro-txt {
	font: 500 em(20)/140% $sans;
	margin-bottom: 40px;
	@media (min-width: $break-sm) {
		font-size: em(27);
	}
}

.caption-txt {
	font: 500 em(16)/140% $sans;
	margin-bottom: 40px;
}

.l-narrow {
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;	
}

.ks-btn {
	font: 700 em(17)/120% $sans;
	text-align: center;

	position: relative;
	display: block;
	padding: 20px 10px;	
	margin-bottom: 65px;
	background-color: $red;
	@include box-shadow(shade($red, 30%) 0 3px 0);
	@include border-radius(12px);
	@include text-shadow(rgba(0,0,0,.3) 1px 2px 3px);
	@include user-select;
	@include trans;
	&:hover {
		top: -3px;
		@include box-shadow(shade($red, 30%) 0 6px 0);
	}
	@media (min-width: $break-sm) {
		font-size: em(23);
		padding: 20px 30px;	
		margin-bottom: 100px;
	}
}

.section-h {
	display: block;
	margin-bottom: 10px;

	font: 700 em(16)/120% $sans;
	letter-spacing: 2px;
	text-transform: uppercase;
	@include text-shadow(rgba(0,0,0,.3) 1px 2px 3px);
}

//
// Buy Button
//

$buy-btn-width: 320px;

.buy-mod {
	text-align: center;
	margin-bottom: 100px;
}

.buy-btn-mod {
	position: relative;
	width: 100%;
	max-width: $buy-btn-width;
	height: 68px;
	margin: 0 auto 20px;
}

.buy-btn-txt {
	font: 700 23px/120% $sans;
	padding: 15px 30px;
	text-align: center;
	display: block;
	z-index: 10;
	background-color: $red;
	pointer-events: none; 
	@include user-select(none);
	@include absolute(5px 5px 5px 5px);
	@include trans;
	.buy-btn-mod:hover & {
		top: 2px;
	}
}

.buy-btn,
#CBAWidgets0 {
	@extend .ks-btn;
	width: 100%;
	height: 68px;
	margin-bottom: 0;
}

.buy-select {
	position: relative;
	margin: 0 auto 10px;
	width: 100%;
	max-width: $buy-btn-width;

	// Buy Dropdown Arrow
	&:after {
		@include psuedo(23px 16px n n);
		@include triangle(down, 13px, #aaa, .73);
		pointer-events: none; 
		@include user-select(none);
		width: 0;
	}

	select {
		@include input-default;
		width: 100%;
		padding: 20px 50px 20px 20px;
		background-color: #fff;
		font: 500 15px $sans;
		text-align: center;
		@include border-radius(12px);
	}


}

.buy-msg {
	font: 500 10px $sans;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #e5e5e5;
}


//
// Mailchimp Signup
//

$mc-height: 45px;

.mc-mod {
	position: relative;
}

.mc-input,
.mc-submit {
	@include input-default;	
}

.mc-input {
	font: normal em(16)/120% $sans;
	color: #fff;
	@include placeholder-state(rgba(255,255,255,.75));

	display: block;
	width: 100%;
	height: $mc-height;
	padding: 12px;
	border-bottom-color: #fff; //Fallback
	border-bottom: 1px solid rgba(255,255,255,.65);
	@include rgba-bg(black, .5);
	@include border-radius(2px);
}

.mc-submit {
	color: #000;
	@include size($mc-height - 10);
	@include absolute(n 5px 5px n);
	@include rgba-bg(white, .5);
	@include trans(.2s, background-color);
	&:hover {
		@include rgba-bg(white, .75);
	}
}

.logo-h,
.mc-mod,
.social-list {
	margin-bottom: 40px;

	@media (min-width: $break-sm) {
		margin-bottom: 60px;
	}
}


//
// Social Icons
//

.social-list {
    text-align: justify;
    font-size: 0.1px; // Hide whitespace between elements
    width: 160px;
    margin-left: auto;
    margin-right: auto;
	&:after {
		@include content;
	    display: inline-block;
	    width: 100%;
	}
}
 
.social-item {
    display: inline-block;
	width: 36px;
	> a {
		position: relative;
		display: block;
		@include size(36px);
		@include opacity(.85);
		@include trans;
		&:hover {
			top: -2px;
			@include opacity(1);
		}
	}
	&.twitter > a {
		@include svg('twitter-wht');
	}
	&.facebook > a {
		@include svg('facebook-wht');
	}
	&.google > a {
		@include svg('google-wht');
	}
}

// 
// Thanks Page
//

.page-thanks {
	.logo-h {
		max-width: 60%;
	}
}

.thanks-txt {
	text-align: center;
	margin-bottom: 60px;
	highlight {
		display: block;
		font-size: 36px;
		line-height: 120%;
		color: $red;
		margin-bottom: 12px;
	}
}


// 
// Photo Page
//

.page-pic {
	background: #000 image-url('bucaboot-with-beer-bg.jpg') no-repeat 50% 50% fixed;
	@include background-size(cover);
	background-attachment: fixed;
}

.default-img {
	display: block;
	max-width: 100%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	margin: 0 auto 20px;
}

// 
// T-Shirt Page
//

.page-tees {
	.default-img {
		margin-bottom: 100px;
	}
}

.tee-h {
	font: 100 em(26)/120% $sans;
	text-align: center;
	margin-bottom: 10px;
}

.tee-number {
	color: $red;
}



